<div id="delivery-card" class="features-block-wrapper modal-static">
    <head-component></head-component>
    <div class="bottom-menu">
        <div class="collapse navbar-collapse menu-navigation">
            <div class="close-menu"></div>
            <button type="button" class="menu-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <ul class="nav navbar-nav">
                <li><a href="restaurants">РЕСТОРАНЫ</a></li>
                <li><a href="delivery">ДОСТАВКА ЕДЫ</a></li>
                <li><a href="complaints">КНИГА ЖАЛОБ И ПРЕДЛОЖЕНИЙ </a></li>
                <li><a href="dinner">ОБЕДЫ</a></li>
                <li><a href="special-proposal">СПЕЦПРЕДЛОЖЕНИЯ</a></li>
                <li class="hide-item"><a href="cooking-boss">БЛЮДО ОТ ШЕФ ПОВАРА</a></li>
                <li class="hide-item"><a href="top50">ТОП 50</a></li>
            </ul>
            <ul class="navbar-nav mobile-show">
                <li><a href="cooking-boss">БЛЮДО ОТ ШЕФ ПОВАРА</a></li>
                <li><a href="top50">ТОП 50</a></li>
            </ul>
        </div>
    </div>
    <div id="home-page">
        <div class="restaurants-block">

            <div class="mobile-holder visible-xs">
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="index">Главная</a></li>
                        <li><a href="#" class="current"></a></li>
                    </ul>
                </div>
                <div class="dropdown drop-option">
                    <h3>Завершение брони</h3>
                    <a data-toggle="dropdown" href="#"></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <div class="menu-two">
                            <li><a href="restaurants">РЕСТОРАНЫ</a></li>
                            <li><a href="delivery">ДОСТАВКА ЕДЫ</a></li>
                            <li><a href="complaints">КНИГА ЖАЛОБ И ПРЕДЛОЖЕНИЙ </a></li>
                            <li><a href="dinner">ОБЕДЫ</a></li>
                            <li><a href="special-proposal">СПЕЦПРЕДЛОЖЕНИЯ</a></li>
                            <li><a href="cooking-boss">БЛЮДО ОТ ШЕФ ПОВАРА</a></li>
                            <li><a href="top50">ТОП 50</a></li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="modal-delivery successful-order">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content filters">
                        <div class="main-contant">
                            <div class="successful-order-block">
                                <h3><img src="img/dishes-icon.jpg" alt="">вы успешно отправили заказ</h3>
                                <p>Для просмотра Ваших заказов зарегистрируйтесь и получайте бонусы!</p>
                                <div class="modal-footer">
                                    <a href="modal-successful-order2" class="registration">Регистрация</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer-component></footer-component>
</div>