<div class="personal-restaurant">
    <rest-head></rest-head>
    <div id="home-page">
        <rest-menu></rest-menu>
        <div class="content-rest">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Отображение в категориях блюд:</h4>
                    </div>
                </div>
                <div class="column-holder">
                    <div class="section-title visible-xs">РАЗДЕЛ</div>
                    <div class="row">

                        <div class="column-inner">
                            <div class="change-item">
                                <div class="block-checkbox">
                                    <label class="checkbox img-check">
                                        <input type="checkbox"> Суши/Маки
                                        <span></span>
                                    </label>
                                </div>
                                <div class="block-checkbox">
                                    <label class="checkbox img-check">
                                        <input type="checkbox"> Пицца
                                        <span></span>
                                    </label>
                                </div>
                                <div class="block-checkbox">
                                    <label class="checkbox img-check">
                                        <input type="checkbox"> Гриль/Шашлык
                                        <span></span>
                                    </label>
                                </div>
                                <div class="block-checkbox">
                                    <label class="checkbox img-check">
                                        <input type="checkbox"> Рыба
                                        <span></span>
                                    </label>
                                </div>
                                <div class="block-checkbox">
                                    <label class="checkbox img-check">
                                        <input type="checkbox"> Мясные блюда
                                        <span></span>
                                    </label>
                                </div>
                                <div class="block-checkbox">
                                    <label class="checkbox img-check">
                                        <input type="checkbox"> Салаты
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="column-inner hidden-xs">
                            <div class="change-item">
                                <div class="block-checkbox">
                                    <label class="checkbox img-check">
                                        <input type="checkbox"> Суши/Маки
                                        <span></span>
                                    </label>
                                </div>
                                <div class="block-checkbox">
                                    <label class="checkbox img-check">
                                        <input type="checkbox"> Пицца
                                        <span></span>
                                    </label>
                                </div>
                                <div class="block-checkbox">
                                    <label class="checkbox img-check">
                                        <input type="checkbox"> Гриль/Шашлык
                                        <span></span>
                                    </label>
                                </div>
                                <div class="block-checkbox">
                                    <label class="checkbox img-check">
                                        <input type="checkbox"> Рыба
                                        <span></span>
                                    </label>
                                </div>
                                <div class="block-checkbox">
                                    <label class="checkbox img-check">
                                        <input type="checkbox"> Мясные блюда
                                        <span></span>
                                    </label>
                                </div>
                                <div class="block-checkbox">
                                    <label class="checkbox img-check">
                                        <input type="checkbox"> Салаты
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="column-inner hidden-xs">
                            <div class="change-item">
                                <div class="block-checkbox">
                                    <label class="checkbox img-check">
                                        <input type="checkbox"> Суши/Маки
                                        <span></span>
                                    </label>
                                </div>
                                <div class="block-checkbox">
                                    <label class="checkbox img-check">
                                        <input type="checkbox"> Пицца
                                        <span></span>
                                    </label>
                                </div>
                                <div class="block-checkbox">
                                    <label class="checkbox img-check">
                                        <input type="checkbox"> Гриль/Шашлык
                                        <span></span>
                                    </label>
                                </div>
                                <div class="block-checkbox">
                                    <label class="checkbox img-check">
                                        <input type="checkbox"> Рыба
                                        <span></span>
                                    </label>
                                </div>
                                <div class="block-checkbox">
                                    <label class="checkbox img-check">
                                        <input type="checkbox"> Мясные блюда
                                        <span></span>
                                    </label>
                                </div>
                                <div class="block-checkbox">
                                    <label class="checkbox img-check">
                                        <input type="checkbox"> Салаты
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="column-inner hidden-xs">
                            <div class="change-item">
                                <div class="block-checkbox">
                                    <label class="checkbox img-check">
                                        <input type="checkbox"> Суши/Маки
                                        <span></span>
                                    </label>
                                </div>
                                <div class="block-checkbox">
                                    <label class="checkbox img-check">
                                        <input type="checkbox"> Пицца
                                        <span></span>
                                    </label>
                                </div>
                                <div class="block-checkbox">
                                    <label class="checkbox img-check">
                                        <input type="checkbox"> Гриль/Шашлык
                                        <span></span>
                                    </label>
                                </div>
                                <div class="block-checkbox">
                                    <label class="checkbox img-check">
                                        <input type="checkbox"> Рыба
                                        <span></span>
                                    </label>
                                </div>
                                <div class="block-checkbox">
                                    <label class="checkbox img-check">
                                        <input type="checkbox"> Мясные блюда
                                        <span></span>
                                    </label>
                                </div>
                                <div class="block-checkbox">
                                    <label class="checkbox img-check">
                                        <input type="checkbox"> Салаты
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="column-inner hidden-xs">
                            <div class="change-item">
                                <div class="block-checkbox">
                                    <label class="checkbox img-check">
                                        <input type="checkbox"> Суши/Маки
                                        <span></span>
                                    </label>
                                </div>
                                <div class="block-checkbox">
                                    <label class="checkbox img-check">
                                        <input type="checkbox"> Пицца
                                        <span></span>
                                    </label>
                                </div>
                                <div class="block-checkbox">
                                    <label class="checkbox img-check">
                                        <input type="checkbox"> Гриль/Шашлык
                                        <span></span>
                                    </label>
                                </div>
                                <div class="block-checkbox">
                                    <label class="checkbox img-check">
                                        <input type="checkbox"> Рыба
                                        <span></span>
                                    </label>
                                </div>
                                <div class="block-checkbox">
                                    <label class="checkbox img-check">
                                        <input type="checkbox"> Мясные блюда
                                        <span></span>
                                    </label>
                                </div>
                                <div class="block-checkbox">
                                    <label class="checkbox img-check">
                                        <input type="checkbox"> Салаты
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="column-inner hidden-lg">
                            <div class="change-item">
                                <div class="block-checkbox">
                                    <label class="checkbox img-check">
                                        <input type="checkbox"> Суши/Маки
                                        <span></span>
                                    </label>
                                </div>
                                <div class="block-checkbox">
                                    <label class="checkbox img-check">
                                        <input type="checkbox"> Пицца
                                        <span></span>
                                    </label>
                                </div>
                                <div class="block-checkbox">
                                    <label class="checkbox img-check">
                                        <input type="checkbox"> Гриль/Шашлык
                                        <span></span>
                                    </label>
                                </div>
                                <div class="block-checkbox">
                                    <label class="checkbox img-check">
                                        <input type="checkbox"> Рыба
                                        <span></span>
                                    </label>
                                </div>
                                <div class="block-checkbox">
                                    <label class="checkbox img-check">
                                        <input type="checkbox"> Мясные блюда
                                        <span></span>
                                    </label>
                                </div>
                                <div class="block-checkbox">
                                    <label class="checkbox img-check">
                                        <input type="checkbox"> Салаты
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer-component></footer-component>
</div>