<div class="restarants-block">
    <div class="mobile-holder visible-xs">
        <div class="img-holder">
            <img src="img/photo-user-1.jpg" alt="photo-user-1"></div>
        <div class="dropdown drop-menu">
            <a data-toggle="dropdown" href="#">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <ul class="menu-profile dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><a ng-href="my-profile">ваш профайл</a></li>
                <li><a ng-href="my-information">личный данные</a></li>
                <li><a ng-href="my-bonus">бонусы</a></li>
                <li><a ng-href="my-reservation">Резерв стола</a></li>
                <li><a ng-href="my-order-food">заказы еды</a></li>
                <li><a ng-href="my-testimonials">ваши отзывы</a></li>
            </ul>
        </div>
        <div class="dropdown drop-option">
            <h3>Ваш профайл</h3>
            <a data-toggle="dropdown" href="#"></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <div class="menu-two">
                    <li><a ng-href="restaurants">РЕСТОРАНЫ</a></li>
                    <li><a ng-href="delivery">ДОСТАВКА ЕДЫ</a></li>
                    <li><a ng-href="complaints">КНИГА ЖАЛОБ И ПРЕДЛОЖЕНИЙ </a></li>
                    <li><a ng-href="dinner">ОБЕДЫ</a></li>
                    <li><a ng-href="special-proposal">СПЕЦПРЕДЛОЖЕНИЯ</a></li>
                    <li><a ng-href="cooking-boss">БЛЮДО ОТ ШЕФ ПОВАРА</a></li>
                    <li><a ng-href="top50">ТОП 50</a></li>
                </div>
            </ul>
        </div>
    </div>
</div>