<div class="bottom-menu">
    <div class="collapse navbar-collapse">
        <div class="close-menu"></div>
        <ul class="nav navbar-nav visible-xs">
            <li><a href="restaurants">РЕСТОРАНЫ</a></li>
            <li><a href="delivery">ДОСТАВКА ЕДЫ</a></li>
            <li><a href="complaints">КНИГА ЖАЛОБ И ПРЕДЛОЖЕНИЙ </a></li>
            <li><a href="dinner">ОБЕДЫ</a></li>
            <li><a href="special-proposal">СПЕЦПРЕДЛОЖЕНИЯ</a></li>
            <li class="hide-item"><a href="cooking-boss">БЛЮДО ОТ ШЕФ ПОВАРА</a></li>
            <li class="hide-item"><a href="top50">ТОП 50</a></li>
        </ul>
    </div>
    <div class="container hidden-xs">
        <div class="row">
            <div class="col-md-12">
                <h2 class="title-cabinet">Личный кабинет: Ирина Константинова</h2>
            </div>
        </div>
    </div>
</div>