<div class="left-content">
    <div class="photo-user hidden-xs">
        <img src="img/personal-photo.jpg" alt="photo-user">
        <div class="rate-user">Младший критик</div>
    </div>
    <div class="personal-info">
        <div class="name">Ирина Константинова
            <span>id45464545</span>
        </div>
    </div>
    <div class="parameter hidden-xs">
        <div class="row">
            <div class="col-md-5 col-sm-12 nopadding-right">
                <a href="#" class="attendance icon-holder">6 посещений</a>
                <a href="#" class="order icon-holder">2 заказа</a>
            </div>
            <div class="col-md-7 col-sm-12">
                <a href="#" class="count-testimonial icon-holder">4 отзыва</a>
                <a href="#" class="thanks icon-holder">1 благодарность</a>
            </div>
        </div>
    </div>
    <div class="parameter visible-xs">
        <div class="rate-user">Младший критик</div>
        <a href="#" class="attendance icon-holder">6</a>
        <a href="#" class="order icon-holder">2</a>
        <a href="#" class="count-testimonial icon-holder">4</a>
        <a href="#" class="thanks icon-holder">1</a>
    </div>
    <ul class="menu-profile hidden-xs">
        <li><a ng-class="routeName == 'profile' ? 'active' : ''" href="my-profile">ваш профайл</a></li>
        <li><a ng-class="routeName == 'information' ? 'active' : ''" href="my-information">личный данные</a></li>
        <li><a ng-class="routeName == 'bonus' ? 'active' : ''" href="my-bonus">бонусы</a></li>
        <li><a ng-class="routeName == 'reservation' ? 'active' : ''" href="my-reservation">Резерв стола</a></li>
        <li><a ng-class="routeName == 'order-food' ? 'active' : ''" href="my-order-food">заказы еды</a></li>
        <li><a ng-class="routeName == 'testimonials' ? 'active' : ''" href="my-testimonials">ваши отзывы</a></li>
    </ul>
</div>