<div class="personal-user" id="my-profile" ng-init="profile.init()">
    <head-component></head-component>
    <head-menu name="name"></head-menu>
    <div id="home-page">
        <head-profile image="2"></head-profile>
        <div class="content-user">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="hidden-xs">Ваш профайл</h3>
                    </div>
                </div>
                <div class="row">
                    <profile profile="profile.user" route-name="profile.routeName"></profile>
                    <div class="right-content">
                        <div class="count-bonus">
                            У вас <span>{{profile.bonus}}</span> бонусов
                        </div>
                        <div class="parameter-holder">
                            <div class="row">
                                <div class="col-md-5 col-sm-12">
                                    <div class="parameter">
                                        <a href="#" class="attendance icon-holder">Посещение ресторанов: 100 (+5 бонусов)</a>
                                        <a href="#" class="order icon-holder">Заказов еды: 0 (+5 бонусов)</a>
                                        <a href="#" class="invite-friends icon-holder">Приглашенния друзей: 0 (+5 бонусов)</a>
                                        <div class="change-bonus visible-lg">Обменять бонусы можно в <a href="catalog-bonus">Каталог бонусов</a></div>
                                    </div>
                                </div>
                                <div class="col-md-7 col-sm-12">
                                    <div class="parameter">
                                        <a href="#" class="count-testimonial icon-holder">Коментарии в книге жалоб и предложений: 0 (+1 бонусов)</a>
                                        <a href="#" class="complaints-rest icon-holder">Отзывы о ресторанах: 20 (+1 бонусов)</a>
                                        <p class="visible-lg">Ваш промо-код: <span>{{profile.user.referal}}</span></p>
                                        <p class="visible-lg">Ваша ссылка: <a href="http://getresto.ru?ref=1a8737">http://getresto.ru?ref={{profile.user.referal}}</a></p>
                                    </div>
                                </div>
                                <div class="col-sm-12 hidden-lg">
                                    <div class="parameter other">
                                        <p>Ваш промо-код: <span>{{profile.user.referal}}</span></p>
                                        <p>Ваша ссылка: <a href="http://getresto.ru?ref=1a8737">http://getresto.ru?ref={{profile.user.referal}}</a></p>
                                        <div class="change-bonus">Обменять бонусы можно в <a href="catalog-bonus">Каталог бонусов</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-block">
                            <h3>Пригласи друзей и получи еще больше бонусов!</h3>
                            <div class="networks">
                                <ul>
                                    <li><a href="#" class="facebook">facebook</a></li>
                                    <li><a href="#" class="twitter">twitter</a></li>
                                    <li><a href="#" class="vkontakte">vkontakte</a></li>
                                    <li><a href="#" class="google">google</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer-component></footer-component>
</div>