<div class="restarants-block">
    <div class="mobile-holder visible-xs">
        <div class="img-holder"><img src="img/photo-restaurant.png" alt="photo-restaurant"></div>
        <div class="dropdown drop-menu">
            <a data-toggle="dropdown" href="#" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <ul class="menu-profile dropdown-menu navigation-restaurant" role="menu" aria-labelledby="dLabel">
                <li><a href="rest-reservation">Заявки на бронь(2)</a></li>
                <li><a href="rest-cook-boss">Шеф-повар</a></li>
                <li><a href="rest-special-proposal">Спецпредложения</a></li>
                <li><a href="rest-delivery-food">Доставка еды (2)</a></li>
                <li><a href="rest-organizer">Органайзер</a></li>
                <li><a href="rest-discount">Скидки и акции</a></li>
                <li><a href="rest-dinner">Комплесные обеды</a></li>
                <li><a href="rest-information">Информация</a></li>
                <li><a href="test-photo">ваши Фотографии</a></li>
                <li><a href="rest-map">ресторан На карте</a></li>
                <li><a href="rest-menu-delivery">Меню доставки</a></li>
                <li><a href="rest-filter-delivery">Фильтры доставки</a></li>
            </ul>
        </div>
        <div class="dropdown drop-option">
            <h3>Заявки на бронь</h3>
            <a data-toggle="dropdown" href="#"></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <div class="menu-two">
                    <li><a href="restaurants">РЕСТОРАНЫ</a></li>
                    <li><a href="delivery">ДОСТАВКА ЕДЫ</a></li>
                    <li><a href="complaints">КНИГА ЖАЛОБ И ПРЕДЛОЖЕНИЙ </a></li>
                    <li><a href="dinner">ОБЕДЫ</a></li>
                    <li><a href="special-proposal">СПЕЦПРЕДЛОЖЕНИЯ</a></li>
                    <li><a href="cooking-boss">БЛЮДО ОТ ШЕФ ПОВАРА</a></li>
                    <li><a href="top50">ТОП 50</a></li>
                </div>
            </ul>
        </div>
    </div>
</div>
<div class="navigation-restaurant hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-2 col-sm-3">
                <a href="rest-reservation" class="item-1 active">Заявки на бронь(2)</a>
            </div>
            <div class="col-md-3 col-lg-2 col-sm-3">
                <a href="rest-cook-boss" class="item-2">Шеф-повар</a>
            </div>
            <div class="col-md-3 col-lg-2 col-sm-3">
                <a href="rest-special-proposal" class="item-3">Спецпредложения</a>
            </div>
            <div class="col-md-3 col-lg-2 col-sm-3">
                <a href="rest-delivery-food" class="item-4">Доставка еды (2)</a>
            </div>
            <div class="col-md-3 col-lg-2 col-sm-3">
                <a href="rest-organizer" class="item-5">Органайзер</a>
            </div>
            <div class="col-md-3 col-lg-2 col-sm-3">
                <a href="rest-discount" class="item-6">Скидки и акции</a>
            </div>
            <div class="col-md-3 col-lg-2 col-sm-3">
                <a href="rest-dinner" class="item-7">Комплесные обеды</a>
            </div>
            <div class="col-md-3 col-lg-2 col-sm-3">
                <a href="rest-information" class="item-8">Информация</a>
            </div>
            <div class="col-md-3 col-lg-2 col-sm-3">
                <a href="rest-photo" class="item-9">ваши Фотографии</a>
            </div>
            <div class="col-md-3 col-lg-2 col-sm-3">
                <a href="rest-map" class="item-10">ресторан На карте</a>
            </div>
            <div class="col-md-3 col-lg-2 col-sm-3">
                <a href="rest-menu-delivery" class="item-11">Меню доставки</a>
            </div>
            <div class="col-md-3 col-lg-2 col-sm-3">
                <a href="rest-filter-delivery" class="item-12">Фильтры доставки</a>
            </div>
        </div>
    </div>
</div>